<h1><%= @day.number %>のスケジュール</h1>

<div>
  <% @schedules.each do |schedule| %>
  <div>
    <%= schedule.start_at.strftime('%H:%M') %> ~
    <%= schedule.finished_at.strftime('%H:%M') %>
    <%= schedule.place %>
    <%= schedule.comment %>
    <%= schedule.cost %>円
    <%= schedule.transportation %>
    <%= schedule.transfer_time %>分
    <%= schedule.expense %>円
  </div>
  <% end %>
</div>

<%= form_with model: @schedule, url: plan_day_schedules_path do |f| %>
  <div class="form_group">
    <%= f.label :開始時刻 %>
    <%= f.time_select :start_at, {} %>
  </div>
  <div class="form_group">
    <%= f.label :終了時刻 %>
    <%= f.time_select :finished_at, {} %>
  </div>
  <div class="form_group">
    <%= f.label :場所 %>
    <%= f.text_field :place %>
  </div>
  <div class="form_group">
    <%= f.label :コメント %>
    <%= f.text_area :comment %>
  </div>
  <div class="form_group">
    <%= f.label :費用 %>
    <%= f.text_field :cost %>円
  </div>
  <div class="form_group">
    <%= f.label :移動手段 %>
    <%= f.select :transportation, Schedule.transportations.keys, {} %>
  </div>
  <div class="form_group">
    <%= f.label :移動時間 %>
    <%= f.text_field :transfer_time %>分
  </div>
  <div class="form_group">
    <%= f.label :交通費 %>
    <%= f.text_field :expense %>円
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>

<div>
  <%= link_to "日程追加", new_plan_day_path %>|
  <%= link_to "確認画面", check_plan_path(@plan) %>
</div>


